.col-1 {
  float: left;
  width: 8.33333%; }

.col-2 {
  float: left;
  width: 16.66667%; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.33333%; }

.col-5 {
  float: left;
  width: 41.66667%; }

.col-6 {
  float: left;
  width: 50%; }

.col-7 {
  float: left;
  width: 58.33333%; }

.col-8 {
  float: left;
  width: 66.66667%; }

.col-9 {
  float: left;
  width: 75%; }

.col-10 {
  float: left;
  width: 83.33333%; }

.col-11 {
  float: left;
  width: 91.66667%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px; }
  body a {
    text-decoration: none; }
  body .clear:after {
    content: "";
    display: table;
    clear: both; }
  body .left {
    float: left; }
  body .right {
    float: right; }
  body .center {
    margin: 0 auto; }
  body .btn {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.8;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body .btn:hover {
      opacity: 1; }
    body .btn.red {
      background: #b65837; }
  body .full {
    width: 100%; }
    body .full.banner {
      background: url(../img/girl-on-cliff-banner.jpg) no-repeat center center;
      height: 793px;
      position: relative; }
    body .full.about {
      background: rgba(255, 255, 255, 0.65);
      bottom: 27px;
      height: 265px;
      position: absolute; }
      body .full.about .col-3.block-1 .header {
        background: url(../img/about-block-1-bg.png); }
      body .full.about .col-3.block-2 .header {
        background: url(../img/about-block-2-bg.png); }
      body .full.about .col-3.block-3 .header {
        background: url(../img/about-block-3-bg.png); }
      body .full.about .col-3.block-4 .header {
        background: url(../img/about-block-4-bg.png); }
      body .full.about .col-3 .inner {
        margin: 0 auto;
        width: 96%; }
        body .full.about .col-3 .inner .header {
          height: 4.14286em;
          margin-left: -1px;
          position: relative;
          top: -15px;
          width: 17.21429em;
          z-index: 1; }
          body .full.about .col-3 .inner .header h3 {
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 1.07143em;
            font-weight: 100;
            height: 3.86667em;
            line-height: 3.86667em;
            margin: 0 auto;
            text-align: center;
            width: 14.06667em; }
        body .full.about .col-3 .inner .body {
          background: url(../img/about-block-body-bg.png) repeat-x;
          height: 15.85714em;
          margin: 0 auto;
          position: relative;
          top: -15px;
          width: 15.07143em;
          z-index: 0; }
    body .full.pregnancy-care {
      background: url(../img/pregnancy-care-bg.png);
      height: 300px; }
  body .container {
    margin: 0 auto;
    width: 1000px; }
    body .container:after {
      content: "";
      display: table;
      clear: both; }
    body .container.phone {
      height: 53px;
      position: relative; }
      body .container.phone .phone-number {
        background: url(../img/phone-bg.png);
        color: #474849;
        display: inline-block;
        font-family: "Futura", sans-serif;
        font-size: 1.64286em;
        font-weight: 300;
        height: 2.56522em;
        line-height: 1.91304em;
        padding: 0 0.82609em 0 0;
        position: absolute;
        right: 6.34783em;
        text-align: right;
        text-decoration: none;
        top: 0;
        width: 9.56522em;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        opacity: 0.8;
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        body .container.phone .phone-number:hover {
          opacity: 1; }
      body .container.phone .btn {
        height: 3.14286em;
        line-height: 3.14286em;
        padding: 0 1.07143em;
        position: absolute;
        right: 0;
        top: 0; }
    body .container.nav nav .logo {
      display: inline-block;
      float: left;
      font-family: "Futura", sans-serif;
      margin: 0;
      text-transform: uppercase; }
      body .container.nav nav .logo a {
        background: #e6f2f9;
        background: rgba(255, 255, 255, 0.8);
        color: #343434;
        display: block;
        font-weight: 400;
        height: 3.21429em;
        line-height: 3.21429em;
        text-align: center;
        width: 14.07143em;
        -webkit-transition: background 0.3s;
        transition: background 0.3s; }
        body .container.nav nav .logo a:hover {
          background: rgba(255, 255, 255, 0.95); }
    body .container.nav nav ul {
      float: right;
      margin: 0;
      padding: 0; }
      body .container.nav nav ul li {
        float: left;
        list-style: none;
        margin: 0 0 0 2px;
        padding: 0;
        text-transform: uppercase; }
        body .container.nav nav ul li a {
          background: #e6f2f9;
          background: rgba(255, 255, 255, 0.8);
          color: #343434;
          display: inline-block;
          height: 6.42857em;
          line-height: 6.42857em;
          text-align: center;
          -webkit-transition: background 0.3s;
          transition: background 0.3s; }
          body .container.nav nav ul li a:hover {
            background: rgba(255, 255, 255, 0.95); }
          body .container.nav nav ul li a.nav-1 {
            border-bottom: 0.42857em solid #65838f;
            width: 6.7em; }
          body .container.nav nav ul li a.nav-2 {
            border-bottom: 0.42857em solid #a6b799;
            width: 7.9em; }
          body .container.nav nav ul li a.nav-3 {
            border-bottom: 0.42857em solid #ccc6a5;
            width: 13.7em; }
          body .container.nav nav ul li a.nav-4 {
            border-bottom: 0.42857em solid #b8a075;
            width: 8.3em; }
          body .container.nav nav ul li a.nav-5 {
            border-bottom: 0.42857em solid #8f7759;
            width: 5.95em; }
