@import "variables";
@import "mixins";

@for $i from 1 to 12 {
  .col-#{$i} {
  	float: left;
  	width: ($i / 12) * 100%;
  }
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: $base-font-size;

	a {
		text-decoration: none;
	}

	.clear {
		&:after {
	    	content: "";
	    	display: table;
	    	clear: both;
	  	}
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.center {
		margin: 0 auto;
	}

	.btn {
		color: #fff;
	  	display: inline-block;
	  	text-decoration: none;
	  	text-transform: uppercase;
	  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	  	opacity: 0.8;
	  	-webkit-backface-visibility: hidden;
	  	@include transition(all 0.3s ease);
	  	&:hover {
	  		opacity: 1;
	  	}
	  	&.red {
			background: #b65837;
	  	}
	}

	.full {
		width: 100%;
		&.banner {
			background: url(../img/girl-on-cliff-banner.jpg) no-repeat center center;
			height: 793px;
			position: relative;
		}
		&.about {
			background: rgba(255,255,255,.65);
			bottom: 27px;
	  		height: 265px;
	  		position: absolute;
	  		.col-3 {
	  			&.block-1
	  			{
	  				.header {
	  					background: url(../img/about-block-1-bg.png);
	  				}
	  			}
	  			&.block-2
	  			{
	  				.header {
	  					background: url(../img/about-block-2-bg.png);
	  				}
	  			}
	  			&.block-3
	  			{
	  				.header {
	  					background: url(../img/about-block-3-bg.png);
	  				}
	  			}
	  			&.block-4
	  			{
	  				.header {
	  					background: url(../img/about-block-4-bg.png);
	  				}
	  			}
	  			.inner {
	  				margin: 0 auto;
	  				width: 96%;
	  				.header {
	  					height: 4.14285714em;
	  					margin-left: -1px;
	  					position: relative;
	  					top: -15px;
						width: 17.2142857em;
						z-index: 1;
						h3 {
							@include box-shadow(0 5px 10px rgba(0,0,0,.5));
							color: #fff;
							font-size: 1.07142857em;
	  						font-weight: 100;
	  						height: 3.86666667em;
	  						line-height: 3.86666667em;
	  						margin: 0 auto;
	  						text-align: center;
	  						width: 14.0666667em;
						}
	  				}
	  				.body {
	  					background: url(../img/about-block-body-bg.png) repeat-x;
	  					height: 15.8571429em;
	  					margin: 0 auto;
	  					position: relative;
	  					top: -15px;
	  					width: 15.0714286em;
	  					z-index: 0;
	  				}
	  			}
	  		}
	  	}
	  	&.pregnancy-care {
	  		background: url(../img/pregnancy-care-bg.png);
	  		height: 300px;
	  	}
	}

	.container {
		margin: 0 auto;
		width: $container-width;
		&:after {
	    	content: "";
	    	display: table;
	    	clear: both;
	  	}
	  	&.phone {
	  		height: 53px;
	  		position: relative;
	  		.phone-number {
	  			background: url(../img/phone-bg.png);
	  			color: #474849;
	  			display: inline-block;
	  			font-family: $futura;
	  			font-size: 1.64285714em;
	  			font-weight: 300;
	  			height: 2.56521739em;
	  			line-height: 1.91304348em;
	  			padding: 0 0.82608696em 0 0;
	  			position: absolute;
	  			right: 6.34782609em;
	  			text-align: right;
	  			text-decoration: none;
	  			top: 0;
	  			width: 9.56521739em;
	  			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			  	opacity: 0.8;
			  	-webkit-backface-visibility: hidden;
			  	@include transition(all 0.3s ease);
			  	&:hover {
			  		opacity: 1;
			  	}
	  		}
	  		.btn {
	  			height: 3.14285714em;
	  			line-height: 3.14285714em;
	  			padding: 0 1.07142857em;
	  			position: absolute;
	  			right: 0;
	  			top: 0;
	  			width: 
	  		}
	  	}
	  	&.nav {
	  		nav {
	  			.logo {
	  				display: inline-block;
	  				float: left;
	  				font-family: $futura;
	  				margin: 0;
	  				text-transform: uppercase;
	  				a {
	  					background: #e6f2f9;
	  					background: rgba(255,255,255,.8);
	  					color: #343434;
	  					display: block;
	  					font-weight: 400;
	  					height: 3.21428571em;
	  					line-height: 3.21428571em;
	  					text-align: center;
	  					width: 14.0714286em;
	  					@include transition(background 0.3s);
	  					&:hover {
	  						background: rgba(255,255,255,.95);
	  					}
	  				}
	  			}
	  			ul {
	  				float: right;
	  				margin: 0;
	  				padding: 0;
	  				li {
	  					float: left;
	  					list-style: none;
	  					margin: 0 0 0 2px;
	  					padding: 0;
	  					text-transform: uppercase;
	  					a {
	  						background: #e6f2f9;
	  						background: rgba(255,255,255,.8);
	  						color: #343434;
	  						display: inline-block;
	  						height: 6.42857143em;
	  						line-height: 6.42857143em;
	  						text-align: center;
	  						@include transition(background 0.3s);
	  						&:hover {
	  							background: rgba(255,255,255,.95);
	  						}
	  						&.nav-1 {
	  							border-bottom: 0.42857143em solid #65838f;
	  							width: 6.7em;
	  						}
							&.nav-2 {
	  							border-bottom: 0.42857143em solid #a6b799;
	  							width: 7.9em;
	  						}
	  						&.nav-3 {
	  							border-bottom: 0.42857143em solid #ccc6a5;
	  							width: 13.7em;
	  						}
	  						&.nav-4 {
	  							border-bottom: 0.42857143em solid #b8a075;
	  							width: 8.3em;
	  						}
	  						&.nav-5 {
	  							border-bottom: 0.42857143em solid #8f7759;
	  							width: 5.95em;
	  						}
	  					}
	  				}
	  			}
	  		}
	  	}
	}
}